In [ ]:
%sql
CREATE OR REPLACE TABLE ${catalog}.${schema}.demo_sales AS
SELECT 1 AS id, 'productA' AS product, 100 AS amount UNION ALL
SELECT 2 AS id, 'productB' AS product, 200 AS amount;