In [ ]:
%sql
CREATE OR REPLACE TABLE ${catalog}.${schema}.demo_sales AS
SELECT 1 AS id, 'ProductA' AS product, 100 AS amount
UNION ALL
SELECT 2, 'ProductB', 200
UNION ALL
SELECT 3, 'ProductC', 300