In [ ]:
%sql
CREATE OR REPLACE TABLE ${catalog}.${schema}.demo_sales_summary AS
SELECT product, SUM(amount) AS total_sales, SUM(amount_with_tax) AS total_with_tax
FROM ${catalog}.${schema}.demo_sales_transformed
GROUP BY product